/*
* Palette
* Orange #D97F2D
* Text Gray #36373E
* Overlays 75% opacity
*/

@font-face {
	font-family: 'Genti';
	src: '../fonts/GentBasI.ttf';

}

@font-face {
	font-family: 'Gent';
	src: '../fonts/GentBasR.ttf';

}

@font-face {
	font-family: 'SourceBold';
	src: '../fonts/SourceSansPro-Bold.ttf';
}

@font-face {
	font-family: 'SourceSemi';
	src: '../fonts/SourceSansPro-Semibold.ttf';
}

.row {
	min-width: 100% !important;
}

.padded {
	padding: 0px 5%;
}

.pattern {
  background: url(../img/bg-pattern.png) top left repeat;
}

.figcap {
	padding: 30px 5%;
	margin: 30px 0 0 0;
}

.figcap button {
	margin: 30px 0;
}

.figcap img {
	margin-top: 10px;
	/*border-left: 3px dashed #D97F2D;*/
}

#wrapper {
	padding-top: 100px;
}

/* Nav */

nav {
  border-bottom: solid 5px #D97F2D;
  height: 100px;
  text-transform: uppercase;
  position: fixed;
  width: 100%;
  z-index: 2;
}

nav a {
  color: #36373E;
  font-family: 'SourceSemi';
  font-size: 20px;
}

nav a.active {
  color: #D97F2D;
}

nav a:hover {
	color: #D97F2D;
}

nav img {
  float: left;
}

nav ul {
  float: right;
  margin: 30px 0;
}

nav ul li {
  list-style: none;
  display: inline;
  margin-left: 30px;
}

#logo img {
	padding-top: 5px;
}

/* Billboard */

#billboard {
	background: url(../img/billboard.jpg);
	background-size: cover;
	top: 50;
	left: 1000;
	height: 500px;
	position: relative;
	text-align: center;
}

#cta {
	font-family: 'SourceBold';
	color: white;
	font-size: 60px;
	padding: 150px 0;
}

#brands {
	height: 140px;
	text-align: center;
}

.orange {
	color: #D97F2D;
	font-weight: 500;
	font-style: italic;
}

.overlay {
	background-color: rgba(0,0,0,.70);
	height: 100%;
}

.btn, .btn:hover, .btn:focus, .btn:active, .btn:visited {
	background-color: #D97F2D;
	font-family: 'SourceSemi';
	font-size: 36px;
	text-transform: uppercase;
	border-radius: 10px;
	margin-top: 30px;
	margin-left:auto;
	margin-right:auto;
	min-height: 75px;
	min-width: 200px;
	text-align: center;
}

#billboard .btn{
	position: absolute;
	top: 463.5px;
	height: 75px;
	width: 200px;
	text-align: center;
	left:0;
	right:0;
	margin-top: 0 !important;
	margin-left:auto;
	margin-right:auto;
}

.testimony {
	background-color: #D97F2D;
	opacity: .50;
	color: white;
	display: table;
	width: 100%;
}

.testimony article {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

h1, h3 {
	text-align: center;
}

h1 {
	font-family: 'SourceSemi';
	font-size: 60px;
	color: #36373E;
	padding: 30px 0;
}

h2 {
	margin: 0;
	padding: 40px 0;
	font-size: 50px;
	opacity: .2;
}

h3 {
	font-family: 'GentBasI';
	font-size: 36px;
	font-style: italic;
	color: #D97F2D;
	padding-bottom: 30px;
}

h4 {
	font-family: 'SourceBold';
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: #D97F2D;
	margin-bottom: 20px;
}

p {
	color: #36373E;
	font-family: 'GentBasR';
	font-size: 24px;
}

.testimony p {
	color: white;
	font-family: 'GentBasI';
	font-style: italic;
	font-size: 60px;
}

.sm-icons li {
	list-style: none;
	display: inline;
}

.sm-icons a {
	color: #36373E;
	font-size: 50px;
	margin: 0 30px;
}

.sm-icons a:hover {
	color: #D97F2D;
}

footer {
	padding: 5% 0;
	text-align: center;
}

.center {
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.icon {
	text-align: center;
	font-size: 100px;
}

.medium-6 {
	text-align: center;
}

#contact {
	list-style: none;
	text-align: right;
	font-family: 'GentBasR';
	color: #36373E;
}

.orange {
	position: relative;
	text-align: left;
}

.orange .overlay {
	background-color: #D97F2D;
	opacity: .75;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	height: 50px;
	width: 263px;
	z-index: 1;
	text-align: center;
}

.orange .overlay p {
	color: white;
}

.orange .overlay img {
	position: absolute;
	text-align: none !important;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#email {
	text-align: right !important;
	margin: 0	auto;
}

#vid {	
	text-align: center;
}

#vid a {
	font-size: 150px;
	color: #DF2826;
}

iframe {
	margin-bottom: 30px;
}


@media only screen and (max-width: 40em) {
	h1 {
		font-size: 30px;
	}

	h2 {
		opacity: .1;
	}

	h3 {
		font-size: 20px;
	}

	h4 {
		font-size: 20px
	}

	p {
		font-size: 16px;
	}


	.testimony p {
		font-size: 30px;
	}

	.sm-icons a {
		font-size: 25px;
	}

	.icon {
		font-size: 50px;
	}

	nav {
		height: 50px;
	}

	nav a {
		font-size: 15px;
	}

	nav ul {
		margin: 10px 0;
	}

	nav ul li {
		margin-left: 12px;
	}

	nav img {
		padding-top: 3px !important;
		max-width: 30px;
	}

	#wrapper {
		padding-top: 50px;
	}

	#cta {
		font-size: 40px;
	}

  .btn ,.btn:hover, .btn:focus, .btn:active, .btn:visited  {
		font-size: 18px;
		min-height: 37.5px;
		min-width: 100px;
	}

	#billboard .btn {
		font-size: 28px;
	}

	#contact, #email {
		text-align: center !important;
	}

	.orange {
		text-align: center !important;
	}

	.orange .overlay {
		position: relative;
		text-align: center !important;
		margin: 0 auto;
	}

	.orange img {
		position: relative !important;
		text-align: center;
		margin: 0 auto;
	}

	.orange p {
		font-size: 24px;
	}
}